body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(243, 250, 171);

}

.centered-title{
    text-align: center;
}

/* Contenedor principal para la galería y la carta */
.destinatario {
    display: flex; /* Activa el diseño en línea con Flexbox */
    justify-content: space-between; /* Espacia los elementos (galería y carta) */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    padding: 20px;
    margin: 0 auto; /* Centra el contenedor en la página */
}

h2{
    margin-top: 50px;
    margin-bottom: 3px;
}
.destinatario-label{
    text-align: center;
    margin-left: -450px;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #d8cf24b1;
    border-radius: 5px;
    outline: none;
    height: 30px;
    width: 300px; /* Ancho fijo para el input */
    transition: border-color 0.3s ease;
    text-align: center; /* Centra el texto dentro del input */
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

.small-image {
    margin-top: 20px;
    margin: center;
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 200px;
    
}

/* Galería de imágenes a la izquierda */
.recipient-gallery {
    display: flex; /* Activa el diseño de Flexbox */
    flex-direction: column; /* Alinea las imágenes en una columna */
    gap: 20px; /* Espaciado entre las imágenes */
    width: auto; /* Ancho fijo para la galería */
}

.small-image:hover {
    transform: scale(1.2); /* Efecto de zoom al pasar el mouse */
}

.small-image-anadir{
    margin-top: 50px;
    margin-left: 30px;
    margin: right;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 250px;
}

/* Área de texto y controles a la derecha */
.letter-container {
    flex-grow: 1; /* Hace que el área de texto ocupe el espacio restante */
    text-align: center; /* Centra el contenido dentro del área */
}

textarea{
    text-align: center;
    width: 1000px;
    height: 250px;
    font-size: 16px;
    padding: 30px;
    border: 2px solid #ddd;
    border-radius: 8px;
    resize: none;
    background-color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin: 25px 0;
    margin-left: -440px;
}

.hablar{
    text-align: center;
    margin-top: 50px;
}

.hablar button{
    border-radius: 50%; /* Hacerlo circular */
    width: 200px; /* Ancho del botón */
    height: 200px;
    margin-left: -450px;
    background-color: #f0d708; /* Fondo personalizado */
    border: 2px solid #f0d708; 
}
.controls button{
    border-radius: 50%; /* Hacerlo circular */
    width: 90px; /* Ancho del botón */
    height: 90px;
    margin-left: -450px;
    background-color: #f0d708; /* Fondo personalizado */
    border: 2px solid #f0d708; 
}


.button-icon-hablar {
    width: 70%; /* Ajustar el tamaño del ícono dentro del botón */
    height: 70%; /* Mantener la proporción */
}

.button-icon{
    width: 50px;
    height: 50px;
}

.hablar button:hover,
.controls button:hover {
    background-color: #858832;
    border: 2px solid #958709; /* Fondo al pasar el mouse */ 
}

